%h1 Listing of Topics
- @topics.each do |topic|
  .topic
    %span.right-corner= link_to "+1", topic_votes_path(topic), :method => 'POST'
    %h4= topic.title
    %p
      = topic.votes.count
      votes
    .manage-options
      = link_to 'Edit', edit_topic_path(topic)
      = link_to 'Delete', topic, confirm: 'Are you sure?', method: :delete

#new-topic
  =link_to 'New Topic', new_topic_path
